@charset "utf-8";

/******************************************************************************
  SECTION: BASE PAGE STRUCTURE
******************************************************************************/
html {
  $fsize-base : 10px;
  font-size   : $fsize-base;
  // font-family : $font-family-sans-serif;
  line-height : $lineh-std;
  color       : $body-text-color;

  @include breakpoint($bp-sm) {
    font-size: 7.888888888px;
  }
  @include breakpoint($bp-md) {
    font-size: 8.888888888px;
  }
  @include breakpoint($bp-lg) {
    font-size: 8.888888888px;
  }
  @include breakpoint($bp-min-xl) {
    font-size: 10px;
  }
}

body {
  height          : 100%; // For fixed-footer wrapper
  font-size       : $fsize-std;
  line-height     : $lineh-std;
  // font-family     : $font-family-sans-serif;
  color           : $body-text-color;
  // background-color: $body-bg-color;
  background-image  : url(image-path('binding_light.png'));
  background-repeat : repeat;

  p {
    font-size  : $fsize-std;
    line-height: $lineh-std;
  }
}


/******************************************************************************
  SECTION: BASE TAG STYLES
******************************************************************************/

a {
  color: $highlight-color;
  text-decoration: none;
}

a:hover {
  color: $dulllight-color;
  text-decoration: none;
}



.header {

  .title-region {

  }

  .logo {

  }

  .photo-banner {
    max-width: 100%;
    height: auto;
    width: auto;
  }

}
