@charset "utf-8";

/******************************************************************************
  SECTION: BASE PAGE STRUCTURE
******************************************************************************/
html {
  $fsize-base : 10px;
  font-size   : $fsize-base;
  font-family : $font-family-sans-serif;
  line-height : $lineh-std;
  color       : $body-text-color;

  @include breakpoint($bp-sm) {
    font-size: 7.888888888px;
  }
  @include breakpoint($bp-md) {
    font-size: 8.888888888px;
  }
  @include breakpoint($bp-lg) {
    font-size: 8.888888888px;
  }
  @include breakpoint($bp-min-xl) {
    font-size: 10px;
  }
}

body {
  height            : 100%; // For fixed-footer wrapper;
  font-size         : $fsize-std;
  line-height       : $lineh-std;
  font-family       : $font-family-sans-serif;
  color             : $body-text-color;
  background-image  : url(image-path('binding_light.png'));
  background-repeat : repeat;

  p {
    font-size   : $fsize-std;
    line-height : $lineh-std;
    font-family : $font-family-sans-serif;
  }

  a, h1, h2, h3, h4, h5, h6, span {
    font-family: $font-family-sans-serif;
  }
}


/******************************************************************************
  SECTION: BASE TAG STYLES
******************************************************************************/

a {
  color: $highlight-color;
}

a:hover {
  color: $dulllight-color;
}

ul {
  font-size           : $fsize-std;
  line-height         : $lineh-std;
  margin-bottom       : 1.25rem;
  list-style-position : inside;
}

hr {
  border          : 0;
  background-color: $body-bg-color;
  height          : 0.2rem;
  margin          : 2rem auto;
}

/******************************************************************************
  SECTION: MULTIPURPOSE UTILITY CLASSES
******************************************************************************/

.ilblock {
  display: inline-block;
}

.halfsize-image {
  width: 50%;
  height: 50%;
}

.nc-row {
  @include grid-row(nest-collapse);
}


/******************************************************************************
  SECTION: STARTUP RESOURCES PAGE
******************************************************************************/

.header {

  .title-region {
    background-color: $body-bg-color;
    text-align      : center;
    padding-top     : 1rem;
    padding-bottom  : 1rem;
    color           : $offwhite;
  }

  .logo {
    text-align: center;
    display   : inline-block;

    img {
      vertical-align: middle;
      display: inline-block;
    }

    h1 {
      font-family   : 'Bebas Neue', Arial, sans-serif;
      font-size     : 5.4rem;
      line-height   : 5.4rem;
      vertical-align: middle;
      color         : $offwhite;
      margin        : 0;
      display       : inline-block;
      margin        : 0 0 0 2rem;

      @include breakpoint($bp-min-lg) {
        font-size   : 6rem;
        line-height : 6rem;
      }
    }
  }

  .photo-banner {
    max-width : 100%;
    height    : auto;
    width     : auto;
    overflow  : hidden;

    @include breakpoint($bp-max-md) {
      border-top: 1px solid $highlight-color;
    }
    @include breakpoint($bp-min-lg) {
      border-top: 2px solid $highlight-color;
    }
  }

  .links-bar {
    @include grid-row(nest-collapse);

    @include breakpoint($bp-max-md) {
      border-top: 1px solid $highlight-color;
    }
    @include breakpoint($bp-min-lg) {
      border-top: 2px solid $highlight-color;
    }
  }

  .links-bar-link {
    font-family: 'Bebas Neue', Arial, sans-serif;

    &:hover {
      color: $offwhite;
      .links-bar-item {
        background-color: $highlight-color;
      }
    }

    &:last-child {
      .links-bar-item {
        @include breakpoint($bp-max-md) {
          border-right: 1px solid $highlight-color;
        }
      }
    }

    &:first-child {
      .links-bar-item {
        @include breakpoint($bp-max-md) {
          border-left: 1px solid $highlight-color;
        }
      }
    }
  }

  .links-bar-item {
    text-align      : middle;
    min-height      : 3rem;
    text-align      : center;
    background-color: $body-bg-color;

    @include breakpoint($bp-max-md) {
      @include grid-column(4);
      font-size     : $fsize-label;
      line-height   : $lineh-label;
      border-bottom : 1px solid $highlight-color;
      border-right  : 1px solid $highlight-color;
    }

    @include breakpoint($bp-min-lg) {
      @include grid-column(2);
      font-size     : $fsize-title;
      line-height   : $lineh-title;
      border-bottom : 2px solid $highlight-color;
      border-left   : 0;
      border-right  : 0;
    }
  }

}


.resource-group {
  @include grid-row(nest-collapse);

  h2 {
    font-family   : 'Bebas Neue', Arial, sans-serif;
    font-size     : 4.0rem;
    margin-bottom : 0;
    margin-top    : 2.0rem;
  }

  hr.heading-underline {
    border          : 0;
    background-color: $body-bg-color;
    height          : 0.2rem;
    margin          : 0 auto 1rem;
  }

  h3 {
    color : $highlight-color;
    margin: 2rem 0 0 0;
  }

  p {
    margin: 0 0 0.5rem 0;
  }

  .address-link {
    display: inline-block;

    .address-block {
      display : inline-block;
    }

    .location-name  {
      display : inline-block;
      color   : $dulllight-color;
    }

    .address-text   {
      display : inline-block;
      color   : $body-text-color;
    }

    &:hover {
      .location-name  { color: $body-text-color; }
      .address-text   { color: $body-text-color; }
    }
  }
}


.footer-row {
  @include grid-row(nest-collapse);

  color           : $footer-faded;
  background-color: $body-bg-color;
  margin-top      : 6rem;
  padding         : 1rem 0;

  @include breakpoint($bp-max-md) {
    border-top: 1px solid $highlight-color;
  }
  @include breakpoint($bp-min-lg) {
    border-top: 2px solid $highlight-color;
  }

  a {
    color: $footer-faded;
    text-decoration: none;
  }

  a:hover {
    color           : $highlight-color;
    text-decoration : none;
  }

  .footer-credits {
    padding: 0 0 0.2rem 0;
  }
}
